$type1_col: #0029b2;
$type2_col: #48a0f4;
$font: "NotoSansKR"; // 기본폰트


@mixin pseudo($display: block, $pos: absolute, $content: '') {
	content: $content;
	display: $display;
	position: $pos;
}

@mixin lsPx($letterSpacing, $fontSize) {
	letter-spacing: #{($letterSpacing * $fontSize) / 1000}px;
}

@mixin lsRem($letterSpacing, $fontSize) {
	letter-spacing: #{($letterSpacing * $fontSize) / 10000}rem;

}

@mixin text-middle($vertical-align : middle) {
	display: inline-block;
	vertical-align: $vertical-align;
}

@mixin text_ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	width: 100%;
	overflow: hidden;
}

@mixin text_ellipsis_multi($line,$lh,$h) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: $line; /* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	line-height: #{$lh}px;
	height: #{$h}px; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
}

@mixin icon($name , $w , $h) {
	$url: "../img/#{$name}.png";
	background: url($url) no-repeat center / cover;
	width: #{$w}px;
	height: #{$h}px;
	@content
}

@mixin text_ellipsis_multi($line,$lh,$h) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: $line; /* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	line-height: #{$lh}px;
	height: #{$h}px; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
}

@mixin icon($name , $w , $h) {
	$url: "../img/#{$name}.png";
	background: url($url) no-repeat center / cover;
	width: #{$w}px;
	height: #{$h}px;
	@content
}


@mixin appear {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}


.relative {
	position: relative;
}

.inner {
	margin: 0 auto;
}

.mobile {
	display: none;
}

.ic {
	@include text-middle;
}


label {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}

.clearfix:after {
	@include pseudo;
}


.ml10 {
	margin-left: 10px;

}

.mt10 {
	margin-top: 10px;
}

.mt30 {
	margin-top: 20px;
}

.mt40 {
	margin-top: 40px;
}

.pt10 {
	padding-top: 10px;
}

.pt40 {
	padding-top: 40px;
}


.ic {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
}


.overlay:before {
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	background: rgba(0, 0, 0, 0.75);
	position: fixed;
	z-index: 500;

}

.overlay2:before{
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	background: rgba(0, 0, 0, 0.75);
	position: fixed;
	z-index: 550;

}

/** 검색어 하이라이트 **/
.f_red {
	color: #ff3333;
}

.hl {
	background-image: linear-gradient(to bottom, #ffff00, #ffff00);
}

article.popup {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	z-index: 501;
	background-color: #fff;
	overflow: hidden;
	//box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);

	&.login{
		width: 360px;
	}

	&.innerPop{
		z-index: 600;
		width: 280px;
	}

	&.join{
		width: 360px;

		.titBox{
			padding-top: 44px;
			font-weight: 700;
			font-size: 19px;
			text-align: center;
			line-height: 24px;
			letter-spacing: -1px;

		}
		.subTitBox{
			font-weight: 700;
			font-size: 13px;
			line-height: 20px;
			text-align: center;
			padding-top: 10px;
			letter-spacing: -0.3px;
		}

		.loginGroup{
			padding:44px 40px 20px;

			.mobileTitBox{
				display:none;
			}

			.titBox{
				padding-bottom: 0;
				padding-top: 0;
				font-size: 15px;
				line-height: 24px;
				letter-spacing: -0.5px;
				font-weight: 700;
				color: #111;
			}

			.inputGroup{
				padding:0;

				.socialBox{
					padding:20px 0;
				}

				.infoMsg{
					text-align: center;
					font-size: 13px;
					line-height: 20px;
					letter-spacing: -0.3px;
					color: #393939;
					padding:22px 0 30px;
				}
			}
			.txt{
				text-align: center;
				font-size: 13px;
				font-weight: 500;
				line-height: 20px;
				letter-spacing: -0.3px;
			}

			.emailBtn{
				margin-top: 20px;
				line-height: 46px;
				border-radius: 2px;
				border: solid 1px #dddddd;
				width: 100%;
				text-align: center;
				color: #393939;
				font-weight: 500;
				font-size: 15px;
			}
		}

		.loginSubMenu{
			padding:30px 0;
			box-shadow: inset 0 1px 0 0 #dddddd;
			text-align: center;
			font-size: 13px;
			line-height: 20px;
			letter-spacing: -0.3px;
			color: #393939;

			a{
				color: #003bff;
				font-weight: 500;
				font-size: 13px;
				line-height: 20px;
				letter-spacing: -0.3px;
				margin-left: 6px;
			}
		}

	}

	&.pwChange{
		width: 280px;

		.loginGroup{
			padding:30px 20px 20px;

			.titBox{
				padding-bottom: 0;
				font-size: 15px;
				line-height: 24px;
				letter-spacing: -0.5px;
				font-weight: 700;
				color: #111;
			}

			.inputGroup{
				padding:0;


				.infoMsg{
					text-align: center;
					font-size: 13px;
					line-height: 20px;
					letter-spacing: -0.3px;
					color: #393939;
					padding:22px 0 30px;
				}
			}
		}

	}


	.popupHeader {
		padding: 0 20px;
		position: relative;
		box-shadow: inset 0 -1px 0 0 #dddddd;

		.txt {
			font-size: 15px;
			font-weight: 700;
			letter-spacing: -0.5px;
			color: #111;
			line-height: 56px;
		}

		.closeBtn {
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			width: 40px;
			height: 40px;
			background: url("../img/ic_popup_close.png") no-repeat center / cover;
		}

	}

	.boardWrite {
		padding: 20px;

		.row {

			& + .row{
				margin-top: 20px;
			}

			.subject {
				font-size: 13px;
				line-height: 22px;
				letter-spacing: -0.3px;
				padding-bottom: 8px;
			}

			.con {
				input {
					width: 100%;
				}
			}
			.editor{

				border:1px solid #ddd;
				height: 300px;
			}


			.menu{
				font-size: 0;


				.positiveBtn{
					color: #fff;
					background-color: #0029b2;
					border:1px solid #0029b2;
				}

				.cancelBtn{
					color: #393939;
					border-radius: 2px;
					background-color: #fff;
					border:1px solid #dddddd;
					margin-left: 8px;
				}


				.btn{
					font-size: 14px;
					letter-spacing: -0.3px;
					text-align: center;
					width: 98px;
					height: 40px;
					line-height: 40px;
					border-radius: 1px;
				}


			}
		}

	}


	ul.standardSheet {
		max-height: 500px;
		overflow-y: auto;
		padding: 20px 0;

		li {
			position: relative;
			padding: 0 20px 0 100px;

			& + li {
				margin-top: 20px;
			}

			.infoBox {
				position: absolute;
				left: 20px;
				font-size: 0;

				.bookmark {
					@include text-middle();
					width: 24px;
					height: 24px;
					background: url("../img/ic_bookmark_off.png") no-repeat center / cover;
					margin-right: 16px;

					&.on {
						background-image: url("../img/ic_bookmark_on.png");
					}
				}

				.num {
					@include text-middle();
					font-size: 13px;
					line-height: 24px;
					letter-spacing: -0.3px;
					color: #393939;
				}


			}

			.row {
				font-size: 13px;
				line-height: 24px;
				letter-spacing: -0.3px;
				color: #393939;

				.f_blue,
				.f_purple {
					position: relative;
					font-weight: 500;
				}

				.f_blue {
					color: #003bff;
				}

				.f_purple {
					color: #6400ff;
				}

				.hoverMenu {
					position: absolute;
					padding-bottom: 32px;
					top: -32px;
					right: -20px;
					width: 320px;
					font-size: 0;
					display: none;

					a {
						@include text-middle();
						width: 152px;
						height: 28px;
						line-height: 28px;
						text-align: center;
						border-radius: 3px;
						font-size: 11px;
						letter-spacing: -0.5px;

						&:nth-of-type(1) {
							color: #393939;
							box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
							border: solid 1px #dddddd;
							background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.02), rgba(0, 0, 0, 0.06)), linear-gradient(to bottom, #ffffff, #ffffff);
						}

						&:nth-of-type(2) {
							margin-left: 16px;
							color: #fff;
							box-shadow: 0 4px 8px 0 rgba(41, 0, 82, 0.2);
							border: solid 1px #262626;
							background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.02), rgba(0, 0, 0, 0.06)), linear-gradient(to bottom, #393939, #393939);
						}
					}
				}
			}
		}


	}

}

article.pageMenu {
	height: 56px;
	position: relative;
	padding: 0 20px 0 0;
	box-shadow: inset 0 -1px 0 0 #dddddd;
}

article.pageSelector {

	@include text-middle();


	.selectorBox {
		@include text-middle();

		position: relative;
		box-shadow: inset -1px -1px 0 0 #dddddd;
		width: 420px;

		a.set {
			font-size: 15px;
			font-weight: 500;
			display: block;
			line-height: 56px;
			padding: 0 50px 0 20px;
			background: url("../img/ic_selector_arrow.png") no-repeat center right 14px / 24px 24px;
		}

		ul {
			display: none;
			position: absolute;
			left: 0;
			right: 1px;
			top: 56px;
			background-color: #fff;
			z-index: 10;


			li {
				a {
					display: block;
					box-shadow: inset -1px 0 0 0 #dddddd, inset 0 -1px 0 0 #f3f3f3;
					line-height: 56px;
					padding: 0 20px;
					font-size: 15px;

					&:last-child {
						box-shadow: inset 0 -1px 0 0 #dddddd;
					}


				}

				&:hover {
					background-color: #fafbff;
				}
			}

		}
	}
}

article.spinner {

	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);

	font-size: 0;
	line-height: 56px;
	@include text-middle();

	.spinnerTxt {
		@include text-middle();
		font-size: 11px;
		opacity: 0.5;
		line-height: 24px;
		padding-right: 4px;
	}

	.spinnerBox {
		@include text-middle();

		a {
			@include text-middle();
			width: 24px;
			height: 24px;

			&.minus {
				background: url("../img/ic_spinner_minus.png") no-repeat center / cover
			}

			&.plus {
				background: url("../img/ic_spinner_plus.png") no-repeat center / cover
			}
		}

		input {
			@include text-middle();

			height: 24px;
			width: 42px;
			box-shadow: inset 0 1px 0 0 #dddddd, inset 0 -1px 0 0 #dddddd;
			font-size: 11px;
			text-align: center;
			font-weight: 500;
		}
	}

}

article.paging {

	font-size: 0;
	text-align: center;


	ul {

		@include text-middle();

		li {

			a {
				@include text-middle();
				width: 24px;
				height: 24px;

				&.num {
					font-size: 14px;
					letter-spacing: -0.3px;
					line-height: 24px;
					color: #909090;
					margin: 0 2px;

					&.current {
						color: #003bff;
					}

				}

				&.first {
					background: url("../img/ic_paging_first.png") no-repeat center / cover;
				}

				&.prev {
					background: url("../img/ic_paging_prev.png") no-repeat center / cover;
					margin-right: 2px;
				}

				&.next {
					background: url("../img/ic_paging_next.png") no-repeat center / cover;
					margin-left: 2px;
				}

				&.last {
					background: url("../img/ic_paging_last.png") no-repeat center / cover;
				}
			}
		}
	}


}


.tbox {
	border-radius: 1px;
	border: solid 1px #dddddd;
	padding: 0 20px;
	height: 40px;
	font-size: 14px;
	color: #393939;
	outline: none;

	&.full{
		width: 100%;
	}

	&::placeholder {
		color: rgba(57, 57, 57, 0.4);
		letter-spacing: -0.3px;
	}
}

.sbox {

	@include text-middle;
	width: 240px;
	position: relative;

	.set {
		font-size: 14px;
		color: #393939;
		display: block;
		border-radius: 1px;
		border: solid 1px #dddddd;
		line-height: 38px;
		padding: 0 40px 0 20px;
		background: url("../img/ic_selector_arrow.png") no-repeat center right 8px / 24px 24px;
	}

	ul {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		top: 39px;
		border: 1px solid #ddd;
		z-index: 10;


		li {

			&:last-child {
				a {
					border-bottom: 1px solid transparent;

				}

			}

			a {
				font-size: 15px;
				padding: 0 20px;
				display: block;
				line-height: 38px;
				background-color: #fff;
				border-bottom: 1px solid #ddd;


				&:hover {
					background-color: #fafbff;

				}

			}

		}

	}

	&.smaller {
		width: 60px;
	}


}

table.form {

	border-top: 1px solid #3b3b3b;


	tr {

		border-bottom: 1px solid #d2d2d2;

		th {
			padding: 19px 33px;
			text-align: left;
			font-size: 14px;
		}


		td {
			padding: 8px 0;

			&.left {
				text-align: left;
			}

			&.center {
				text-align: center;
			}

			.box {
				font-size: 0;

				.row {

					& + .row {
						margin-top: 10px;
					}
				}
			}

			.tbox {
				vertical-align: middle;
				height: 30px;
				border: 1px solid #d2d2d2;
				padding: 0 5px;
				width: 150px;
				font-size: 15px;

				&.small {
					width: 110px;
				}

				&.smaller {
					width: 60px;
				}

				&.long {
					width: 200px;
				}


			}

			.unit {
				font-size: 15px;
				margin: 0 5px;
			}

		}

		.formBtn {
			//border: 1px solid #d2d2d2;
			background-color: #bfbfbf;
			font-weight: 700;
			color: #fff;
			line-height: 30px;
			text-align: center;
			font-weight: 300;
			font-size: 14px;
			display: inline-block;
			vertical-align: middle;
			padding: 0 10px;
		}
	}
}


label.toggle {

	position: relative;
	height: 16px;
	cursor: pointer;

	input {
		display: none;
		cursor: pointer;

		&:checked {

			~ .handler {
				left: 14px;
				border-color: #ce2027;
				transition: left 0.3s ease-out;
			}

			~ .bg {
				background-color: #0b7af3;
			}
		}
	}

	.handler {

		position: absolute;
		display: inline-block;
		width: 12px;
		height: 12px;
		background-color: #fff;
		border-radius: 50%;
		transition: left 0.3s ease-out;
		padding: 0;
		top: 50%;
		left: 2px;
		transform: translateY(-50%);
		z-index: 10;
	}

	.bg {
		position: relative;
		display: inline-block;
		background-color: #dddee0;
		border-radius: 8px;
		width: 28px;
		height: 16px;
		z-index: 9;
	}

}

.rbox {
	display: inline-block;
	position: relative;

	input[type=radio] {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 100;
		cursor: pointer;


	}

	input[type=radio] + label {

		position: relative;
		padding-left: 20px;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 12px;
			height: 12px;
			display: inline-block;
			border: 1px solid #000;
			border-radius: 50%;
			background-color: #fff;
			//background: url(../img/ico_radio_off.png) no-repeat center/cover;

		}

		.txt {
			font-size: 12px;
			@include text-middle;
			line-height: 14px;
		}

	}

	input[type=radio]:checked + label {

		&:before {
			background-color: #000;
			//background: url(../img/ico_radio_on.png) no-repeat center/cover;
		}
	}


}

.amountBox {
	font-size: 0;
	@include text-middle;
	border: 1px solid #d2d2d2;

	.minus, .plus {
		@include text-middle;
		vertical-align: top;
		width: 20px;
		height: 20px;
		//background-color: #d2d2d2;
		position: relative;

		.txt {
			color: #000;
			font-size: 14px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.tbox {
		@include text-middle;
		vertical-align: top;
		height: 18px;
		text-align: center;
		width: 40px;
		font-size: 12px;
		border-left: 1px solid #d2d2d2;
		border-right: 1px solid #d2d2d2;
	}
}


.cbox {
	position: relative;
	display: inline-block;
	font-size: 0;

	input[type=checkbox] {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 100;
		cursor: pointer;


	}

	input[type=checkbox] + label.chk {

		position: relative;
		padding-left: 25px;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 16px;
			height: 16px;
			display: inline-block;
			background: url(../img/ic_chk_off.png) no-repeat center/cover;

		}

	}

	input[type=checkbox]:checked + label.chk {

		&:before {
			background: url(../img/ic_chk_on.png) no-repeat center/cover;
		}
	}

	label.chk {
		position: relative;
		cursor: pointer;

		.txt {
			@include text-middle;
			font-size: 15px;
			line-height: 18px;
		}
	}

}


.cbox {
	position: relative;
	display: inline-block;
	font-size: 0;

	input[type=checkbox] {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 100;
		cursor: pointer;


	}

	input[type=checkbox] + label.chk {

		position: relative;
		padding-left: 25px;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 18px;
			height: 18px;
			display: inline-block;
			background: url(../img/ic_chk_off.png) no-repeat center/cover;

		}

	}

	input[type=checkbox]:checked + label.chk {

		&:before {
			background: url(../img/ic_chk_on.png) no-repeat center/cover;
		}
	}

	label.chk {
		position: relative;
		cursor: pointer;

		.txt {
			@include text-middle;
			font-size: 15px;
			line-height: 18px;
		}
	}

}


label.check {

	cursor: pointer;

}


label.chk {

	position: relative;
	cursor: pointer;

	input[type=radio] {
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		cursor: pointer;


		@include text-middle;
		border-radius: 50%;
		width: 16px;
		height: 16px;
		border: 1px solid #656d9a;
		position: relative;

		&:checked {

			background-color: #0b7af3;
			border-color: transparent;

			&:before {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				transform: translate(-50%, -50%);
				background: #fff;

			}
		}
	}
}

 
 